body {
    margin: 0;
    padding: 0;
    font-family: sans-serif; /* Yazı tipini de modernleştirir */
}
.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 15px 15px;
    background: linear-gradient(180deg,hsl(0, 79%, 47%),hsl(32, 86%, 49%));
    padding: 5px 15px;
}
.nav-links{
    display: flex;
    gap: 20px;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.sepet-btn{
    cursor: pointer;
    background-color: rgb(115, 115, 231);
    padding: 10px 10px;
    border-radius: 4px;
    border: none;
    color: white;
}
.urun-karti img{
   width: 100%;
   border-radius: 10px;

}
.urun-karti{
    padding: 30px;
    border: 1px solid  #ddd;
    width: 250px;
    text-align: center;
}
.urun-listesi{
    display: flex;
    gap: 10px;
    flex-wrap:wrap;/*sığmayınca aşa inio*/
}
.sepet-cekmece{
    position: fixed;
    top: 0;
    right: -100%;
    width: 350px;
    height: 100vh;
    background-color: white;
    transition: right 0.3s ease-in-out;
}
.sepet-cekmece.aktif {
    right: 0; 
}
.bildirim {
    position: fixed;
    bottom: -100px; 
    right: 20px;  
    background-color: #2ecc71;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: bottom 0.4s ease-out, opacity 0.4s ease-out; 
    z-index: 2000;
    font-weight: bold;
    opacity: 0;     /* Başlangıçta tamamen şeffaf */
}
.bildirim.goster {
    bottom: 20px;
    opacity: 1;   /* Tamamen görünür (opak) ol */
}